<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">New Patient</h3>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	<div>
<div>
<!-- <%= link_to 'Back', patients_path %> -->
