<div class="row">
	<div class="col-md-2 text-center">
		<ul class="nav nav-pills nav-stacked">
			<li class="active">
				<%= link_to t(:new_patient), new_patient_path %>
			</li>
			<li>
				<%= link_to t(:patient_list), patients_path %>
			</li>
		</ul>
	</div>
	<div class="col-md-10">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="panel-title">
					<%= t(:patient) %>
				</span>
			</div>
			<div class="panel-body">
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>