@import "bootstrap-sprockets"
@import "bootstrap"

body
  margin: 10px

ul.ui-autocomplete
  z-index: 2
  position: absolute
  list-style: none
  margin: 0
  padding: 0
  border: solid 1px #999
  cursor: default
  li
    cursor: pointer
    background-color: #fff
    border-top: solid 1px #ddd
    margin: 0
    padding: 0 0 0 10px

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
  background: #fafafa