<!DOCTYPE html>
<html>
<head>
  <title>MobOdonto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row">
	<div class="col-md-6">
		Campinas, 04 de outubro de 2015.
	</div>
	<div class="col-md-6 text-right">
		Paulo César Dianin Junior | Sair
	</div>
</div>

<%= yield %>

</body>
</html>
